.cardStly{
    margin-top: 20px;
}
.label{
    font-size: 23px;
    color: #7d7474;
}
.cardbodyContent{
    font-size: 16px;
    margin-top: 18px;
    min-height: 54px;
}
.subTitle{
    font-size: 13px;
    color: #756e6e;
}
.rowstyl{
    display: flex;
    align-items: flex-end;
}
.schedulerStly{
    position: fixed;
    top: 126px;
}
.Complabel{
    font-size: 35px;
    position: fixed;
    font-weight: bolder;
    color: #989494;
}